# Matrix homeserver URL.
MATRIX_SERVER = ""
# Matrix room to monitor.
MATRIX_ROOM = ""
# Username for bot's Matrix user.
MATRIX_USER = ""
# Password for bot's Matrix user.
MATRIX_PASSWORD = ""
# Path of sqlite3 file to use.
DB_PATH = ""
